#accesorios .col-lg-4 {
    margin: 0 !important;
    padding: 25px;
}

#accesorios img {
    width: 100%;
    height: 350px;

}

#accesorios img:hover {
    border: 5px solid #f6f6f6;
}

.accesoriosh2 {
    text-align: center;
    font-weight: 600;
}
.card img {
    width: 100%;
    height: 450px;
}