$color-body: #7fffd4;
$color-formulario: #ccc;
$color-fondo-titulo: #808080;
$color-texto: black;
$color-resaltado: #0e495c;
$color-text-articulo: #0e495c;
$color-text-catalogo: #0e495c;
$color-titulos: #350907;
$color-footer: #4B4B4B;

